.btn-pink {
	display: inline-block;
	background-color: #7176E7;
  padding: 16px 36px;
  border-radius: 50px;
	color: white;
	font-weight: bold;
}

.btn-pink:hover {
  background-color: #4BB0C5;
  color: white;
}